div {
  display: block;
}

body {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}

.home-page .banner {
  background: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

.banner {
  color: #fff;
  padding: 1.3rem;
  margin-bottom: 0rem;
}

.logo-font {
  font-family: titillium web, sans-serif;
}

.banner h1 {
  margin-bottom: 0;
}

.home-page .banner h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.home-page .banner p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  line-height: 1.1;
  color: inherit;
}

p {
  display: block;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #5cb85c;
  text-decoration: none;
  background-color: transparent;
}

a:-webkit-any-link {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

footer {
  display: block;
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .logo-font {
  vertical-align: middle;
}

footer .attribution {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: #bbb;
  font-weight: 300;
}

.container.page {
  margin-top: 1.5rem;
  max-width: 720px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 75%;
  max-width: 75%;
}

.home-page .feed-toggle {
  margin-bottom: -1px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  margin-top: 0;
}

.nav-pills .nav-item {
  display: block;
  padding: 0.5em 1em;
  float: left;
}

.nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

.nav-link[_ngcontent-ng-c2070197846] {
  cursor: pointer;
}

a:not([href]) {
  text-decoration: none;
}

.nav-pills .nav-item + .nav-item {
  margin-left: 0.2rem;
}

.nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

[hidden] {
  display: none !important;
}

.nav-pills .nav-link.active {
  cursor: default;
}
