<body>
  <div _ngcontent-ng-c2070197846 class="home-page">
    <div _ngcontent-ng-c2070197846 class="banner">
      <div _ngcontent-ng-c2070197846 class="container">
        <h1 _ngcontent-ng-c2070197846 class="logo-font">conduit</h1>
        <p _ngcontent-ng-c2070197846>
          A place to share your
          <i _ngcontent-ng-c2070197846>Angular</i>
          knowledge.
        </p>
      </div>
    </div>
    <div _ngcontent-ng-c2070197846 class="container page">
      <div _ngcontent-ng-c2070197846 class="row">
        <div _ngcontent-ng-c2070197846 class="col-md-9">
          <div _ngcontent-ng-c2070197846 class="feed-toggle">
            <ul _ngcontent-ng-c2070197846 class="nav nav-pills outline-active">
              <li _ngcontent-ng-c2070197846 class="nav-item">
                <a _ngcontent-ng-c2070197846 class="nav-link"> Your Feed </a>
              </li>
              <li _ngcontent-ng-c2070197846 class="nav-item">
                <a _ngcontent-ng-c2070197846 class="nav-link active">
                  Global Feed
                </a>
              </li>
              <li _ngcontent-ng-c2070197846 class="nav-item" hidden>
                <a _ngcontent-ng-c2070197846 class="nav-link active">
                  <i _ngcontent-ng-c2070197846 class="ion-pound"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div _ngcontent-ng-c2070197846 class="col-md-3">
          <div _ngcontent-ng-c2070197846 class="sidebar">
            <p _ngcontent-ng-c2070197846>Popular Tags</p>
            <div _ngcontent-ng-c2070197846 class="tag-list">
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                enim
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                repellat
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                exercitationem
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                est
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                eos
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                quia
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                facilis
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                consequatur
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                occaecati
              </a>
              <a _ngcontent-ng-c2070197846 class="tag-default tag-pill">
                tenetur
              </a>
            </div>
            <div _ngcontent-ng-c2070197846 hidden>Loading tags...</div>
            <div _ngcontent-ng-c2070197846 hidden>No tags are here... yet.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <a routerlink="/" class="logo-font" href="/">conduit</a>
      <span class="attribution">
        © 2024. An interactive learning project from
        <a href="https://thinkster.io">Thinkster</a>
        . Code licensed under MIT.
      </span>
    </div>
  </footer>
</body>
