<body>
  <nav class="navbar navbar-light">
    <div class="container">
      <a routerlink="/" class="navbar-brand" href="/">conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a routerlink="/" class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a routerlink="/" class="nav-link" href="/"> New Article </a>
        </li>
        <li class="nav-item">
          <a
            routerlink="/login"
            routerlinkactive="active"
            class="nav-link"
            href="/login"
          >
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a
            routerlink="/register"
            routerlinkactive="active"
            class="nav-link"
            href="/register"
          >
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
